.headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    font-family: Heart Breaking Bad ,sans-serif;
    font-size: x-large;
}
.headerContainer img{
    width: 80px;
    margin: 0 50px;
}